<div class="confirmadas-container">

  <mat-card>
    <mat-card-title>Reservas Confirmadas</mat-card-title>
    <mat-card-content>
      <mat-list *ngIf="reservas?.length">
        <mat-list-item *ngFor="let r of reservas">
          <h3 matListItemTitle>Check-in: {{ r.checkin }} → <strong>Check-out:</strong> {{ r.checkout }}
            <strong>Hóspedes:</strong> {{ r.hospedes }} • <strong>Diárias:</strong> {{ r.dias }}
            <strong>Valor:</strong> R$ {{ r.valor | number:'1.2-2' }}
          </h3>
          <p matListItemLine>
            <button mat-stroked-button color="warn" (click)="cancelar(r.id)">Cancelar</button>
          </p>
        </mat-list-item>
      </mat-list>
      <div *ngIf="!reservas?.length">Nenhuma reserva encontrada.</div>
    </mat-card-content>
  </mat-card>
</div>